<h1 class="reset-password-heading">Restablecimiento de contraseña</h1>

<hr class="section-divider">

<form action="/api/sessions/forget-password" method="post" class="reset-password-form">
    Email: <input type="text" name="email"> <input type="submit" value="Restablecer contraseña"><br><br> 
</form>

<hr class="section-divider">

<button class="login-btn" onclick="location.href='/login'">Login</button>

<hr class="section-divider">

<button class="register-btn" onclick="location.href='/register'">Registrate</button>
