<div class="success-container">
    <h1 class="success-heading">Registro Exitoso</h1>
    <p class="success-message">Tu registro ha sido exitoso. Ahora puedes iniciar sesión.</p>
    <script>
        // Redireccionar a la vista de inicio de sesión después de 2 segundos
        setTimeout(function() {
            window.location.href = '/login';
        }, 2000); // Increase timeout to 2000 milliseconds (2 seconds)
    </script>
</div>
